.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-top: 5px; 
  overflow-y: auto; 
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  position: relative;
  max-height: 90vh; 
 
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
  background: none;
  border: none;
  color: black;
}

.closeButton:hover {
  color: gray;
}

.howToPlayModal .howToPlayBoxGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
p {
  color: black;
  font-size: 15px;
}

.howToPlayModal .box {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  margin: 0 2px;
}

.showBetterLuckModalBoxGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.showBetterLuckModalBoxGrid .box {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #019a01;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 0 2px;
}

.showBetterLuckModalBoxGrid .box .boxLetter {
  color: white;
}
.showCongratsModalBoxGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.showCongratsModalBoxGrid .box {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #019a01;
  border-radius: 5px;
  color: white !important;
  font-size: 24px;
  font-weight: bold;
  margin: 0 2px;
}
.showCongratsModalBoxGrid .box .boxLetter {
  color: white;
}

.howToPlayBoxGrid .box.incorrect {
  background-color: #858383; 
  color: white;
}
.howToPlayBoxGrid .box.almost {
  background-color: #efbc30;
  color: white;
}
.howToPlayBoxGrid .box.correct {
  background-color: #019a01; 
  color: white; 
}
.factList {
  font-size: 16px;
  list-style-type: none;
  margin: 20px auto;
}
li{
  margin: 5px 0;
}
@media (max-width: 768px) {
  .modal-content {
    width: 95%;
    padding: 15px;
    
  }
  
  .box {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
  
  .factList {
    font-size: 18px;
    text-align: center;

  }
  
  .factList li {
    text-align: left;
    margin-right: 8px ;
    
  }
}
;
